[Unit]
Description=calico node
After=containerd.service
Requires=containerd.service

[Service]
User=root
Environment=ETCD_ENDPOINTS={{ connection_string }}
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/ctr container delete calico-node
ExecStart=/usr/bin/ctr run --net-host --privileged \
  --env ETCD_ENDPOINTS={{ connection_string }} \
  --env ETCD_CA_CERT_FILE={{ etcd_ca_path }} \
  --env ETCD_CERT_FILE={{ etcd_cert_path }} \
  --env ETCD_KEY_FILE={{ etcd_key_path }} \
  --env NODENAME={{ nodename }} \
  --env IP={{ ip }} \
  --env NO_DEFAULT_POOLS=true \
  --env AS= \
  --env CALICO_LIBNETWORK_ENABLED=true \
  --env IP6= \
  --env CALICO_NETWORKING_BACKEND=bird \
  --env CALICO_DISABLE_FILE_LOGGING=true \
  --env FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT \
  --env FELIX_IPV6SUPPORT=false \
  --env FELIX_LOGSEVERITYSCREEN=info \
  --env FELIX_HEALTHENABLED=true \
  --env FELIX_PROMETHEUSREPORTERENABLED=true \
  --env FELIX_PROMETHEUSREPORTERPORT=9081 \
  --env FELIX_FLOWLOGSFILEENABLED=true \
  --env FELIX_FLOWLOGSFILEINCLUDELABELS=true \
  --env FELIX_FLOWLOGSFILEINCLUDEPOLICIES=true \
  --env FELIX_FLOWLOGSENABLENETWORKSETS=true \
  --mount type=bind,src=/var/run/calico,dst=/var/run/calico,options=rbind:rw \
  --mount type=bind,src=/var/lib/calico,dst=/var/lib/calico,options=rbind:rw \
  --mount type=bind,src=/lib/modules,dst=/lib/modules,options=rbind:rw \
  --mount type=bind,src=/run/containerd/plugins,dst=/run/containerd/plugins,options=rbind:rw \
  --mount type=bind,src=/run/containerd/containerd.sock,dst=/run/containerd/containerd.sock,options=rbind:rw \
  --mount type=bind,src=/var/log/calico,dst=/var/log/calico,options=rbind:rw \
  --mount type=bind,src=/opt/calicoctl,dst=/opt/calicoctl,options=rbind:rw \
  {{ registry or 'quay.io' }}/tigera/cnx-node:v2.3.0 \
  calico-node
ExecStop=/usr/bin/ctr container delete calico-node
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
