[Unit]
Description=calico node

[Service]
User=root
Environment=ETCD_ENDPOINTS={{ connection_string }}
PermissionsStartOnly=true
ExecStartPre=-/usr/local/bin/conctl delete calico-node
ExecStart=/usr/local/bin/conctl run \
  --net-host \
  --privileged \
  --env ETCD_ENDPOINTS={{ connection_string }} \
  --env ETCD_CA_CERT_FILE={{ etcd_ca_path }} \
  --env ETCD_CERT_FILE={{ etcd_cert_path }} \
  --env ETCD_KEY_FILE={{ etcd_key_path }} \
  --env NODENAME={{ nodename }} \
  --env IP={{ ip }} \
  --env NO_DEFAULT_POOLS=true \
  --env AS= \
  --env CALICO_LIBNETWORK_ENABLED=true \
  --env IP6= \
  --env CALICO_NETWORKING_BACKEND=bird \
  --env CALICO_DISABLE_FILE_LOGGING=true \
  --env FELIX_DEFAULTENDPOINTTOHOSTACTION=ACCEPT \
  --env FELIX_IPV6SUPPORT=false \
  --env FELIX_LOGSEVERITYSCREEN=info \
  --env FELIX_HEALTHENABLED=true \
  --env FELIX_PROMETHEUSREPORTERENABLED=true \
  --env FELIX_PROMETHEUSREPORTERPORT=9081 \
  --env FELIX_FLOWLOGSFILEENABLED=true \
  --env FELIX_FLOWLOGSFILEINCLUDELABELS=true \
  --env FELIX_FLOWLOGSFILEINCLUDEPOLICIES=true \
  --env FELIX_FLOWLOGSENABLENETWORKSETS=true \
  --mount /var/run/calico:/var/run/calico \
  --mount /var/lib/calico:/var/lib/calico \
  --mount /lib/modules:/lib/modules \
  --mount /run/containerd/plugins:/run/containerd/plugins \
  --mount /run/containerd/containerd.sock:/run/containerd/containerd.sock \
  --mount /var/log/calico:/var/log/calico \
  --mount /opt/calicoctl:/opt/calicoctl \
  --name calico-node \
  {{ registry or 'quay.io' }}/tigera/cnx-node:v2.3.0
ExecStop=/usr/local/bin/conctl delete calico-node
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
